@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap");
/********** BASE CSS **********/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/********** VARIABLES CSS **********/
:root {
  /* Color */
  --background-green: #b2febd;
  --background-purple: #7e4af4;
  --text-dark: #000;
  --text-white: #fff;

  /* Font and typography */
  --body-font: "Josefin Sans";
  --title-font: "Titan One", sans-serif;
  --link-font: "Grandstander", cursive;
  --normal-font-size: 22px;

  /* Font weight */
  --font-bold: 700;
}

/* Responsive typo for min 964px screen  */
body {
  scroll-behavior: smooth;
  position: relative;
  line-height: 1;
  background-color: var(--background-green);
  font-family: var(--body-font);
  color: var(--text-dark);
  font-size: var(--normal-font-size);
  background-size: cover;
  line-height: 30px;
  overflow: scroll;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--link-font);
  color: var(--text-dark);
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
  font-weight: 400;
  text-shadow: 0px 5px 0px rgba(0, 0, 0, 1);
}

.ctn {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  border: 5px solid black;
}
section {
  padding: 0 50px;
}
.btn-link {
  padding: 10px 25px;
  font-weight: var(--font-bold);
  transition: all 0.3s ease;
  border: 6px solid #000;
  text-align: center;
}
.btn-link:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}
.bg-blue {
  background-color: #09d3ff;
}
.bg-rose {
  background-color: #eab2fe;
}
.bg-salmon {
  background-color: #fec0b2;
}
/************* HEADER ***********/
header {
  display: grid;
  place-items: center;
  padding: 20px 70px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 1300px;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-weight: var(--font-bold);
  transition: all 0.3s ease;
}

.menu ul li a {
  color: var(--text-dark);
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: var(--background-purple);
}

/* Burger BTN */
.burger-menu {
  display: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger-menu:before {
  content: "\2630";
  font-size: 30px;
  transition: transform 0.3s ease;
}

.burger-menu.cross:before {
  content: "\2715";
  transform: rotate(0deg);
}
/********** SECTION PRESENTATION & JOIN US **********/
.presentation {
  background: var(--background-purple) url(images/bg-motif-1.svg) no-repeat
    center center/cover;
  background-color: var(--background-purple);
  border-radius: 40px 40px 0 0;
  position: relative;
}
.join-us {
  background: var(--background-purple) url(images/bg-join-us.svg) no-repeat
    center center/cover;
  background-color: var(--background-purple);
  border-radius: 0 0 40px 40px;
  position: relative;
}
.presentation::before {
  content: "";
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 680px;
  height: 740px;
  bottom: -8.5%;
  right: -5%;
  background: url(images/bully-1.webp) no-repeat center center/cover;
  z-index: 1;
  border-radius: 40px 40px 0 0;
}
.join-us::before {
  content: "";
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 740px;
  height: 740px;
  bottom: 0%;
  right: -0%;
  background: url(images/bully-3.webp) no-repeat center center/cover;
  z-index: 1;
  border-radius: 40px 40px 0 0;
}
.presentation-container,
.join-us-container {
  display: flex;
  gap: 20px;
}
.presentation-content,
.join-us-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 125px 0 70px 125px;
  z-index: 2;
}
.presentation-title,
.join-us-title {
  color: #b2febd;
  -webkit-text-stroke: 3px black;
  line-height: 80px;
}
.presentation-title h1 {
  letter-spacing: -3px;
  font-size: 60px;
}
.presentation-title h2 {
  letter-spacing: -5px;
  font-size: 120px;
}
.join-us-title h2 {
  font-size: 90px;
  letter-spacing: -5px;
}
.presentation-title h3 {
  font-size: 30px;
  letter-spacing: -2px;
  -webkit-text-stroke: 2px black;
}
.presentation-txt,
.join-us-txt {
  color: var(--text-white);
  width: 43%;
}
.btn-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.presentation-bully {
  max-width: 100%; /* Limite la largeur maximale à 100% de la largeur de l'écran */
  max-height: 100%;
  width: 50%;
  position: absolute;
  bottom: -3%;
  right: -1%;
  z-index: 10;
}
#svg-container img:first-child {
  position: absolute;
  top: -7%;
  left: 15%;
  z-index: 1;
  transform: scale(0.8);
}
#svg-container img:nth-child(2) {
  position: absolute;
  top: 5%;
  right: 30%;
  transform: scale(0.5) rotate(-40deg);
  z-index: 1;
}
#svg-container img:nth-child(3) {
  position: absolute;
  bottom: 5%;
  right: 34%;
  transform: scale(0.8) rotate(40deg);
  z-index: 0;
}
#svg-container img:nth-child(4) {
  position: absolute;
  bottom: 3%;
  left: 0%;
  transform: scale(0.6) rotate(-100deg);
  z-index: 0;
}
/*********SECTION BULLYNOMICS*/
#bullynomics {
  background-color: var(--background-purple);
}
.bullynomics {
  background: var(--background-green) url(images/bullynomics-bg.svg) no-repeat
    center center/cover;
}
.bullynomics-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 116px 0;
  z-index: 2;
}
.bullynomics-content h2 {
  text-transform: none;
  color: var(--background-purple);
  -webkit-text-stroke: 4px black;
  font-size: 102px;
  letter-spacing: -5px;
  margin-bottom: 100px;
}
.bullynomics-box-container {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bullynomics-box {
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 1);
  text-align: center;
  background-color: var(--background-purple);
  border-radius: 40px;
  border: 6px solid #000;
  padding: 50px 30px;
  width: 280px;
}
.bullynomics-box-container .bullynomics-box:first-child {
  transform: rotate(-20deg);
}
.bullynomics-box-container .bullynomics-box:nth-child(2) {
  margin-bottom: 60px;
}
.bullynomics-box-container .bullynomics-box:last-child {
  transform: rotate(20deg);
}
.bullynomics-box h3 {
  color: var(--background-green);
  font-size: 70px;
  letter-spacing: -2px;
  -webkit-text-stroke: 5px black;
  margin-bottom: 50px;
}
.bullynomics-box p {
  font-size: var(--link-font);
  color: var(--background-green);
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
/*******SECTION MAKE IT*/
#make-it {
  background-color: var(--background-purple);
  position: relative;
}
.make-it {
  background: var(--background-green);
  position: relative;
}
.make-it::before {
  content: "";
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 740px;
  height: 740px;
  bottom: -6%;
  left: -7%;
  background: url(images/bully-2.webp) no-repeat center center/cover;
  z-index: 1;
}
.make-it-container {
  display: grid;
  place-items: end;
}
.make-it-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 116px 0;
  z-index: 2;
  width: 45%;
}
.make-it-content h2 {
  text-transform: none;
  color: var(--background-purple);
  -webkit-text-stroke: 4px black;
  font-size: 90px;
  letter-spacing: -5px;
  line-height: 95%;
  margin-bottom: 30px;
  text-shadow: 0px 5px 0px rgba(0, 0, 0, 1);
  margin-bottom: 30px;
}
.make-it-content p {
  width: 90%;
}
.line-svg {
  width: 290px;
  padding: 35px 0 0 24px;
}
.circle-svg {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: -10%;
  left: -10%;
  z-index: 1;
  transform: scale(0.8);
}
/* SECTION JOIN US  */
.join-us-btn {
  min-width: 200px;
}
#join-us-svg-container img {
  position: absolute;
  bottom: 5%;
  left: 30%;
  z-index: 1;
}
footer {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer img {
  width: 100%;
  max-width: 140px;
  margin: 0 auto;
}
.footer-links {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .presentation::before,
  .join-us::before {
    width: 640px;
    height: 640px;
  }
  .make-it::before {
    width: 640px;
    height: 640px;
    bottom: -5%;
  }
  .presentation-content {
    padding: 0px 0px 50px 0px;
  }
  .join-us-content {
    padding: 110px 0px 50px 0px;
  }
  #svg-container,
  #join-us-svg-container {
    display: none;
  }
  /* SECTION BULLYNOMICS */
  .bullynomics-box-container .bullynomics-box:nth-child(2) {
    margin-bottom: 0px;
    transform: rotate(20deg);
  }
  .bullynomics-box-container .bullynomics-box:last-child {
    transform: rotate(0deg);
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1260px) {
  .circle-svg {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* HEADER NAVBAR MEDIA QUERIES */
  header {
    padding: 20px 10px;
  }
  .menu ul {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -768px;
    width: 100%;
    background-color: var(--background-green);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    padding: 30px 0;
    z-index: 1000;
  }

  .menu ul.show {
    left: 0;
  }

  .burger-menu {
    display: block;
    transition: transform 0.3s ease;
  }

  .burger-menu.cross {
    transform: rotate(90deg);
  }
  /* SECTION PRESENTATION & JOIN US */
  section {
    padding: 0px 10px;
  }
  .presentation-container,
  .join-us-container {
    height: calc(100svh + 100px);
  }
  .presentation-title {
    line-height: 45px;
  }
  .presentation-title h1 {
    font-size: 40px;
  }
  .presentation-title h2,
  .join-us-title h2 {
    font-size: 70px;
  }
  .presentation-title h3 {
    font-size: 30px;
  }
  .presentation-txt,
  .join-us-txt {
    width: 100%;
    font-size: 17px;
  }
  .join-us-content {
    padding-top: 0;
  }
  .btn-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .btn-link {
    max-width: 305px;
    width: 100%;
    padding: 10px 0;
  }
  .presentation::before {
    width: 400px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    bottom: -4%;
    right: 50%;
    transform: translate(50%);
  }
  .join-us,
  .presentation,
  .make-it,
  .bullynomics {
    overflow: hidden;
  }
  .join-us::before {
    bottom: -5%;
  }
  /* section bullynomics */
  .bullynomics-box-container .bullynomics-box:first-child {
    margin-bottom: 0px;
    transform: rotate(0deg);
  }
  .bullynomics-box-container .bullynomics-box:nth-child(2) {
    margin-bottom: 0px;
    transform: rotate(0deg);
  }
  .bullynomics-box-container .bullynomics-box:last-child {
    transform: rotate(0deg);
    margin-bottom: 30px;
  }
  .bullynomics-box-container {
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .bullynomics-box {
    width: 100%;
    padding: 20px 30px;
  }
  .bullynomics-content .btn-container {
    width: 100%;
  }
  .bullynomics-content h2 {
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: -3px;
  }
  .bullynomics-content {
    padding: 30px 0;
  }
  /*******SECTION MAKE IT*********/
  .make-it-content {
    width: 100%;
    padding: 30px 0;
  }
  .make-it-content h2 {
    font-size: 70px;
  }
  .make-it-content p {
    width: 100%;
  }
  .make-it-container {
    height: calc(100svh + 100px);
    display: flex;
    align-items: baseline;
  }
  .make-it::before {
    width: 380px;
    height: 380px;
    max-width: 100%;
    max-height: 100%;
    bottom: -4%;
    left: 50%;
    transform: translate(-50%);
  }
  .line-svg {
    width: 100%;
  }
  .circle-svg {
    display: none;
  }
}
